.feedback {
   background-color: #fff;
   display: block;
}

.f-1 {
    margin: 50px 0;
    height: max-content;
    text-align: center;
    font-size: 30px;
}

.f-1 > span {
    color: tomato;
}
.f-2 {
    margin: 50 0;
    height: 50px;
    text-align: center;
    color: lightcoral;
    
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;   
}

.slide {
    height: 400px;
    width: 100%;
    border-radius: 40px;
}