.feedback {
   background-color: #fff;
   display: block;
}

.f-1 {
    
    height: max-content;
    text-align: center;
    font-size: 30px;
}

.f-1 > span {
    color: tomato;
}
.f-2 {
    margin: 50px 0;
    height: 50px;
    text-align: center;
    color: lightcoral;
    
}
.slideshowSlider {
    width: 99.8%;
    max-height: 401px;
    animation: ease-in;

}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
      
}

.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    
}
.people{
    margin-right: 50px;
    text-align: right;
}

.Imgg > img {
    margin-right: 50%;
    float: right;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.paragraph {
   
}